<!-- footer content -->
<footer>
    <div class="pull-right">
        Copyright by LYM 2016-2017
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<!-- jQuery -->
<script src="{{'static/vendors/jquery/dist/jquery.min.js'|base_url}}"></script>
<!-- Bootstrap -->
<script src="{{'static/vendors/bootstrap/dist/js/bootstrap.min.js'|base_url}}"></script>
<!-- FastClick -->
<script src="{{'static/vendors/fastclick/lib/fastclick.js'|base_url}}"></script>
<!-- NProgress -->
<script src="{{'static/vendors/nprogress/nprogress.js'|base_url}}"></script>
<!-- ECharts -->
<script src="{{'static/vendors/echarts/dist/echarts.min.js'|base_url}}"></script>
<script src="{{'static/vendors/echarts/map/js/world.js'|base_url}}"></script>

<!-- Custom Theme Scripts -->
<script src="{{'static/build/js/custom.min.js'|base_url}}"></script>

</body>
</html>