<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="ibox">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>产品四要素</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="project-list">

                            <table class="table table-hover">
                                <thead>
                                <th>编号</th>
                                <th>商品类目名称</th>
                                <th>属性一</th>
                                <th>属性二</th>
                                <th>属性三</th>
                                <th>属性四</th>
                                <th>操作</th>
                                </thead>
                                <tbody>
                                {{foreach $category_list as $category_info}}
                                <tr>

                                    <td class="cate-id">{{$category_info.id}}</td>
                                    <td class="cate-name">{{$category_info.name}}</td>
                                    <td class="product_cate1">
                                        {{if $category_info.product_cate1}}
                                        <a class="btn btn-primary btn-sm"  href="{{'product/list_cate'|base_url}}?cate_id={{$category_info.cate_id}}&cate_type=1">
                                            {{$category_info.product_cate1}}
                                        </a>
                                        {{/if}}
                                    </td>
                                    <td class="product_cate2">
                                        {{if $category_info.product_cate2}}
                                        <a class="btn btn-primary btn-sm"  href="{{'product/list_cate'|base_url}}?cate_id={{$category_info.id}}&cate_type=2">
                                            {{$category_info.product_cate2}}
                                        </a>
                                        {{/if}}
                                    </td>
                                    <td class="product_cate3">
                                        {{if $category_info.product_cate3}}
                                        <a class="btn btn-primary btn-sm"  href="{{'product/list_cate'|base_url}}?cate_id={{$category_info.id}}&cate_type=3">
                                            {{$category_info.product_cate3}}
                                        </a>
                                        {{/if}}
                                    </td>
                                    <td class="product_cate4">
                                        {{if $category_info.product_cate4}}
                                        <a class="btn btn-primary btn-sm"  href="{{'product/list_cate'|base_url}}?cate_id={{$category_info.id}}&cate_type=4">
                                            {{$category_info.product_cate4}}
                                        </a>
                                        {{/if}}
                                    </td>
                                    <td>
                                        {{if !$category_info.product_cate1 || !$category_info.product_cate2 || !$category_info.product_cate3 || !$category_info.product_cate4}}
                                        <a href="#edit_category" data-toggle="modal" class="btn btn-danger btn-sm edit-btn"><i
                                                class="fa fa-pencil"></i>
                                            完善产品属性
                                        </a>
                                        {{else}}
                                        <a href="#edit_category" data-toggle="modal" class="btn btn-primary btn-sm edit-btn"><i
                                                class="fa fa-pencil"></i>
                                            修改产品属性
                                        </a>
                                        {{/if}}
                                    </td>
                                </tr>
                                {{/foreach}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="edit_category" class="modal fade" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">完善商品属性</h3>
                        <form role="form"  class="edit_category" onsubmit="return false;">
                            <input type="hidden" name="cate_id">
                            <div class="form-group">
                                <label>商品类目：</label>
                                <input type="text" name="name" placeholder="请输入商品商品属性"
                                       class="form-control" disabled>
                            </div>
                            <div class="form-group">
                                <label>属性一：</label>
                                <input type="text" name="product_cate1" placeholder="请输入商品属性一"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label>属性二：</label>
                                <input type="text" name="product_cate2" placeholder="请输入商品属性二"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label>属性三：</label>
                                <input type="text" name="product_cate3" placeholder="请输入商品属性三"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label>属性四：</label>
                                <input type="text" name="product_cate4" placeholder="请输入商品属性四"
                                       class="form-control">
                            </div>
                            <div>
                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" id="edit-submit"
                                        type="submit">
                                    <strong>提交</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".edit-btn").on("click", function () {
            var id = $(this).parents("tr").find(".cate-id").text();
            var name = $(this).parents("tr").find(".cate-name").text();
            var product_cate1 = $.trim($(this).parents("tr").find(".product_cate1").text());
            var product_cate2 = $.trim($(this).parents("tr").find(".product_cate2").text());
            var product_cate3 = $.trim($(this).parents("tr").find(".product_cate3").text());
            var product_cate4 = $.trim($(this).parents("tr").find(".product_cate4").text());
            console.log(id);
            console.log(name);
            console.log(product_cate1);
            console.log(product_cate2);
            console.log(product_cate3);
            console.log(product_cate4);
            $("#edit_category").find("input[name='name']").val(name);
            $("#edit_category").find("input[name='cate_id']").val(id);
            $("#edit_category").find("input[name='product_cate1']").val(product_cate1);
            $("#edit_category").find("input[name='product_cate2']").val(product_cate2);
            $("#edit_category").find("input[name='product_cate3']").val(product_cate3);
            $("#edit_category").find("input[name='product_cate4']").val(product_cate4);
        });
        $("#edit-submit").on("click", function () {
            $.post("{{'product/save_product_cate'|base_url}}", $(".edit_category").serialize(), function (res) {
                if (res.ecode == 0) {
                    layer.msg(res.result);
                    setTimeout(function () {
                        window.location.reload();
                    }, 500)
                }
                else {
                    layer.msg(res.emsg);
                }
            });
        });
    });
</script>