<!--轮播图上方导航栏  一栏-->
<div class="nav-search">
    <div class="nav-cont">
        <div class="category-third">
            <div class="dt">
                <a target="_blank" href="//www.jd.com/allSort.aspx">全部商品分类</a>
            </div>
            <div class="dd-inner">
                {{include file = "dashboard/category_list.html"}}
            </div>
        </div>
        <div class="btn-change">
            <ul>
                <a href="{{'passport/login'|base_url}}">
                    <button class="button">进口展</button>
                </a>
                <a href="##">
                    <button class="button">国产馆</button>
                </a>
            </ul>
            <div class="favorite">
                <i class="iconfont" style="color: red">&#xe84a;</i>
                <div>
                    <i class="iconfont right-up">&#xe6c0;</i>
                    <a href="#">服装城</a>
                </div>
                <div>
                    <i class="iconfont right-up">&#xe6c0;</i>
                    <a href="#">服装城</a>
                </div>
                <div>
                    <i class="iconfont right-up">&#xe6c0;</i>
                    <a href="#">服装城</a>
                </div>
                <div>
                    <i class="iconfont right-up">&#xe6c0;</i>
                    <a href="#">服装城</a>
                </div>
                <a class="edit-favo">编辑</a>
            </div>
        </div>

    </div>
</div>
<div class="nav-cont">
    <div class="container" id="J_container">
        <div class="selector" id="J_selector">
            <!-- 商品筛选 -->
            <div class="s-title" clstag="thirdtype|keycount|thirdtype|select">
                <h3><b>平板电视</b><em>商品筛选</em></h3>
                <div class="st-ext">共&nbsp;<span>636</span>个商品</div>
            </div>

            <div class="J_selectorLine s-brand" data-id="100001">
                <div class="sl-wrap">
                    <div class="sl-key">
                        <span>品牌：</span>
                    </div>
                    <div class="sl-value">
                        <div class="clr"></div>
                        <div class="sl-v-logos">
                            <ul class="J_valueList v-fixed" id="brandsArea">
                                <li data-initial="f">
                                    <a href=""
                                       title="飞利浦（PHILIPS）" rel="nofollow">
                                        <i></i>
                                        <img class="loading-style2" width="102" height="36" src="//img11.360buyimg.com/popshop/jfs/t4975/56/2050623832/5785/44fc3a55/58f74d5aN23fc1dff.jpg">飞利浦（PHILIPS）</a>
                                </li>
                                <li data-initial="f">
                                    <a href=""
                                       title="飞利浦（PHILIPS）" rel="nofollow">
                                        <i></i>
                                        <img class="loading-style2" width="102" height="36" src="//img11.360buyimg.com/popshop/jfs/t4975/56/2050623832/5785/44fc3a55/58f74d5aN23fc1dff.jpg">飞利浦（PHILIPS）</a>
                                </li>
                                <li data-initial="f">
                                    <a href=""
                                       title="飞利浦（PHILIPS）" rel="nofollow">
                                        <i></i>
                                        <img class="loading-style2" width="102" height="36" src="//img11.360buyimg.com/popshop/jfs/t4975/56/2050623832/5785/44fc3a55/58f74d5aN23fc1dff.jpg">飞利浦（PHILIPS）</a>
                                </li>
                                <li data-initial="f">
                                    <a href=""
                                       title="飞利浦（PHILIPS）" rel="nofollow">
                                        <i></i>
                                        <img class="loading-style2" width="102" height="36" src="//img11.360buyimg.com/popshop/jfs/t4975/56/2050623832/5785/44fc3a55/58f74d5aN23fc1dff.jpg">飞利浦（PHILIPS）</a>
                                </li>
                                <li data-initial="f">
                                    <a href=""
                                       title="飞利浦（PHILIPS）" rel="nofollow">
                                        <i></i>
                                        <img class="loading-style2" width="102" height="36" src="//img11.360buyimg.com/popshop/jfs/t4975/56/2050623832/5785/44fc3a55/58f74d5aN23fc1dff.jpg">飞利浦（PHILIPS）</a>
                                </li><li data-initial="f">
                                <a href=""
                                   title="飞利浦（PHILIPS）" rel="nofollow">
                                    <i></i>
                                    <img class="loading-style2" width="102" height="36" src="//img11.360buyimg.com/popshop/jfs/t4975/56/2050623832/5785/44fc3a55/58f74d5aN23fc1dff.jpg">飞利浦（PHILIPS）</a>
                            </li>
                                <li data-initial="f">
                                    <a href=""
                                       title="飞利浦（PHILIPS）" rel="nofollow">
                                        <i></i>
                                        <img class="loading-style2" width="102" height="36" src="//img11.360buyimg.com/popshop/jfs/t4975/56/2050623832/5785/44fc3a55/58f74d5aN23fc1dff.jpg">飞利浦（PHILIPS）</a>
                                </li>
                                <li data-initial="f">
                                <a href=""
                                   title="飞利浦（PHILIPS）" rel="nofollow">
                                    <i></i>
                                    <img class="loading-style2" width="102" height="36" src="//img11.360buyimg.com/popshop/jfs/t4975/56/2050623832/5785/44fc3a55/58f74d5aN23fc1dff.jpg">飞利浦（PHILIPS）</a>
                            </li>
                                <li data-initial="f">
                                    <a href=""
                                       title="飞利浦（PHILIPS）" rel="nofollow">
                                        <i></i>
                                        <img class="loading-style2" width="102" height="36" src="//img11.360buyimg.com/popshop/jfs/t4975/56/2050623832/5785/44fc3a55/58f74d5aN23fc1dff.jpg">飞利浦（PHILIPS）</a>
                                </li>

                                <li data-initial="f">
                                    <a href=""
                                       title="飞利浦（PHILIPS）" rel="nofollow">
                                        <i></i>
                                        <img class="loading-style2" width="102" height="36" src="//img11.360buyimg.com/popshop/jfs/t4975/56/2050623832/5785/44fc3a55/58f74d5aN23fc1dff.jpg">飞利浦（PHILIPS）</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="J_selectorLine s-line J_selectorFold">
                <div class="sl-wrap">
                    <div class="sl-key">
                        <span>屏幕尺寸：</span>
                    </div>
                    <div class="sl-value">
                        <div class="sl-v-list">
                            <ul class="J_valueList">
                                <li>
                                    <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904%40244%5F84057&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=3_屏幕尺寸_70英寸及以上"
                                       rel="nofollow"><i></i>70英寸及以上 </a>
                                </li>
                                <li>
                                    <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904%40244%5F58269&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=3_屏幕尺寸_65英寸"
                                       rel="nofollow"><i></i>65英寸 </a>
                                </li>
                                <li>
                                    <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904%40244%5F1486&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=3_屏幕尺寸_55英寸"
                                       rel="nofollow"><i></i>55英寸 </a>
                                </li>
                                <li>
                                    <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904%40244%5F93576&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=3_屏幕尺寸_49-50英寸"
                                       rel="nofollow"><i></i>49-50英寸 </a>
                                </li>
                                <li>
                                    <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904%40244%5F93577&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=3_屏幕尺寸_45-48英寸"
                                       rel="nofollow"><i></i>45-48英寸 </a>
                                </li>
                                <li>
                                    <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904%40244%5F1474&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=3_屏幕尺寸_42-43英寸"
                                       rel="nofollow"><i></i>42-43英寸 </a>
                                </li>
                                <li>
                                    <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904%40244%5F1473&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=3_屏幕尺寸_39-40英寸"
                                       rel="nofollow"><i></i>39-40英寸 </a>
                                </li>
                                <li>
                                    <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904%40244%5F22246&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=3_屏幕尺寸_32英寸及以下"
                                       rel="nofollow"><i></i>32英寸及以下 </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sl-btns">
                            <a class="btn btn-primary J_btnsConfirm disabled" href="javascript:;">确定</a>
                            <a class="btn btn-default J_btnsCancel" href="javascript:;"> 取消</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="J_selectorLine s-line J_selectorFold">
                <div class="sl-wrap">
                    <div class="sl-key">
                        <span>分辨率：</span>
                    </div>
                    <div class="sl-value">
                        <div class="sl-v-list">
                            <ul class="J_valueList">
                                <li>
                                    <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904%403613%5F78947&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=3_分辨率_超高清"
                                       rel="nofollow"><i></i>超高清 </a>
                                </li>
                                <li>
                                    <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904%403613%5F93931&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=3_分辨率_全高清"
                                       rel="nofollow"><i></i>全高清 </a>
                                </li>
                                <li>
                                    <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904%403613%5F41179&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=3_分辨率_高清"
                                       rel="nofollow"><i></i>高清 </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sl-btns">
                            <a class="btn btn-primary J_btnsConfirm disabled" href="javascript:;">确定</a>
                            <a class="btn btn-default J_btnsCancel" href="javascript:;"> 取消</a>
                        </div>
                    </div>
                    <div class="sl-ext">
                        <a class="sl-e-more J_extMore" href="javascript:;" style="visibility: hidden;">更多<i></i></a>
                        <a class="sl-e-multiple J_extMultiple" href="javascript:;" style="visibility: hidden;">
                            多选<i></i></a>
                    </div>
                </div>
            </div>
            <div class="J_selectorLine s-line J_selectorFold">
                <div class="sl-wrap">
                    <div class="sl-key">
                        <span>观看距离：</span>
                    </div>
                    <div class="sl-value">
                        <div class="sl-v-list">
                            <ul class="J_valueList">
                                <li>
                                    <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904%405406%5F79642&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=3_观看距离_3.5米以上"
                                       rel="nofollow"><i></i>3.5米以上 </a>
                                </li>
                                <li>
                                    <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904%405406%5F89556&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=3_观看距离_3-3.5米"
                                       rel="nofollow"><i></i>3-3.5米 </a>
                                </li>
                                <li>
                                    <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904%405406%5F7196&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=3_观看距离_2.5-3米"
                                       rel="nofollow"><i></i>2.5-3米 </a>
                                </li>
                                <li>
                                    <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904%405406%5F89554&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=3_观看距离_2-2.5米"
                                       rel="nofollow"><i></i>2-2.5米 </a>
                                </li>
                                <li>
                                    <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904%405406%5F89553&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=3_观看距离_2米以内"
                                       rel="nofollow"><i></i>2米以内 </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sl-btns">
                            <a class="btn btn-primary J_btnsConfirm disabled" href="javascript:;">确定</a>
                            <a class="btn btn-default J_btnsCancel" href="javascript:;"> 取消</a>
                        </div>
                    </div>
                    <div class="sl-ext">
                        <a class="sl-e-more J_extMore" href="javascript:;" style="visibility: hidden;">更多<i></i></a>
                        <a class="sl-e-multiple J_extMultiple" href="javascript:;" style="visibility: hidden;">
                            多选<i></i></a>
                    </div>
                </div>
            </div>
            <div class="J_selectorLine s-line J_selectorFold hide">
                <div class="sl-wrap">
                    <div class="sl-key"><span>能效等级：</span></div>
                    <div class="sl-value">
                        <div class="sl-v-list">
                            <ul class="J_valueList" style="">
                                <li style=""><a
                                        href="/list.html?cat=737,794,798&amp;page=2&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;ev=4155%5F78904@1200_77180&amp;JL=3_能效等级_一级能效"
                                        rel="nofollow"><i></i>一级能效</a></li>
                                <li style=""><a
                                        href="/list.html?cat=737,794,798&amp;page=2&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;ev=4155%5F78904@1200_77181&amp;JL=3_能效等级_二级能效"
                                        rel="nofollow"><i></i>二级能效</a></li>
                                <li style=""><a
                                        href="/list.html?cat=737,794,798&amp;page=2&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;ev=4155%5F78904@1200_77182&amp;JL=3_能效等级_三级能效"
                                        rel="nofollow"><i></i>三级能效</a></li>
                                <li style=""><a
                                        href="/list.html?cat=737,794,798&amp;page=2&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;ev=4155%5F78904@1200_11&amp;JL=3_能效等级_其他"
                                        rel="nofollow"><i></i>其他</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div id="J_main" class="g-main2">
            <div class="m-list">
                <div class="ml-wrap">
                    <div class="filter" id="J_filter">
                        <div class="f-line top">
                            <div class="f-sort">
                                <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904&amp;page=1&amp;trans=1&amp;JL=4_1_0"
                                   class="curr">综合排序<i></i></a>
                                <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904&amp;page=1&amp;sort=sort%5Fcommentcount%5Fdesc&amp;trans=1&amp;JL=4_5_0"
                                   class="">评论数<i></i></a>
                                <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904&amp;page=1&amp;sort=sort%5Fwinsdate%5Fdesc&amp;trans=1&amp;JL=4_6_0"
                                   class="">上架时间<i></i></a>
                            </div>

                            <div class="f-pager" id="J_topPage">
           <span class="fp-text">
               <b>2</b><em>/</em><i>11</i>
           </span>
                                <a class="fp-prev"
                                   href="/list.html?cat=737,794,798&amp;ev=4155%5F78904&amp;page=1&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=6_0_0">
                                    &lt; </a>
                                <a class="fp-next"
                                   href="/list.html?cat=737,794,798&amp;ev=4155%5F78904&amp;page=3&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=6_0_0">
                                    &gt; </a>
                            </div>
                            <span class="clr"></span>
                        </div>
                    </div>

                    <div class="clr"></div>
                    <div id="plist" class="goods-list-v2 J-goods-list gl-type-1 ">
                        <ul class="gl-warp clearfix">
                            <li class="gl-item">
                                <div class="gl-i-wrap j-sku-item" data-sku="18552027499" venderid="59619" jdzy_shop_id="55525" data-sku_temp="18552027499" data-i="2" data-soldoversea="-1">
                                    <div class="p-img">
                                        <a target="_blank" href="//item.jd.com/18552027499.html">
                                            <img width="220" height="220" data-img="1" src="//img14.360buyimg.com/n7/jfs/t7468/108/3883096847/155812/e7353806/59ed9787N2d04806f.jpg" title="全国联保，售后无忧！京东物流配送，安全有保障！">
                                        </a>
                                    </div>
                                    <div class="p-name p-name-type3">
                                        <a target="_blank" title="全国联保，售后无忧！京东物流配送，安全有保障！" href="//item.jd.com/18552027499.html">
                                            <em>
                                                三星（SAMSUNG）UA65MU6880JXXZ 65英寸4K超高清HDR 智能曲面电视 黑色      </em>
                                            <i class="promo-words">全国联保，售后无忧！京东物流配送，安全有保障！</i>
                                        </a>
                                        <span class="p-attribute"><a title="65英寸" href="/list.html?cat=737,794,798&amp;ev=244_58269&amp;JL=5_7_0" target="_blank" class="attr"><b>65英寸</b></a><a title="超高清" href="/list.html?cat=737,794,798&amp;ev=3613_78947&amp;JL=5_7_0" target="_blank" class="attr"><b>超高清</b></a><a title="三级能效" href="/list.html?cat=737,794,798&amp;ev=1200_77182&amp;JL=5_7_0" target="_blank" class="attr"><b>三级能效</b></a></span></div>
                                    <div class="p-shop hide" data-score="4" data-reputation="0" data-shopid="" data-done="1"><span><a href="//mall.jd.com/index-55525.html" target="_blank" title="新疆我家电器旗舰店">新疆我家电器旗舰店  </a><em class="im-01" title="联系第三方卖家进行咨询" data-shopid="55525" venderid="59619"></em></span></div>
                                    <div class="p-commit"><strong>已有<a class="comment" target="_blank" href="//item.jd.com/18552027499.html#comment">2</a>人评价</strong></div>
                                </div>
                            </li>
                            <li class="gl-item">
                                <div class="gl-i-wrap j-sku-item" data-sku="18552027499" venderid="59619" jdzy_shop_id="55525" data-sku_temp="18552027499" data-i="2" data-soldoversea="-1">
                                    <div class="p-img">
                                        <a target="_blank" href="//item.jd.com/18552027499.html">
                                            <img width="220" height="220" data-img="1" src="//img14.360buyimg.com/n7/jfs/t7468/108/3883096847/155812/e7353806/59ed9787N2d04806f.jpg" title="全国联保，售后无忧！京东物流配送，安全有保障！">
                                        </a>
                                    </div>
                                    <div class="p-name p-name-type3">
                                        <a target="_blank" title="全国联保，售后无忧！京东物流配送，安全有保障！" href="//item.jd.com/18552027499.html">
                                            <em>
                                                三星（SAMSUNG）UA65MU6880JXXZ 65英寸4K超高清HDR 智能曲面电视 黑色      </em>
                                            <i class="promo-words">全国联保，售后无忧！京东物流配送，安全有保障！</i>
                                        </a>
                                        <span class="p-attribute"><a title="65英寸" href="/list.html?cat=737,794,798&amp;ev=244_58269&amp;JL=5_7_0" target="_blank" class="attr"><b>65英寸</b></a><a title="超高清" href="/list.html?cat=737,794,798&amp;ev=3613_78947&amp;JL=5_7_0" target="_blank" class="attr"><b>超高清</b></a><a title="三级能效" href="/list.html?cat=737,794,798&amp;ev=1200_77182&amp;JL=5_7_0" target="_blank" class="attr"><b>三级能效</b></a></span></div>
                                    <div class="p-shop hide" data-score="4" data-reputation="0" data-shopid="" data-done="1"><span><a href="//mall.jd.com/index-55525.html" target="_blank" title="新疆我家电器旗舰店">新疆我家电器旗舰店  </a><em class="im-01" title="联系第三方卖家进行咨询" data-shopid="55525" venderid="59619"></em></span></div>
                                    <div class="p-commit"><strong>已有<a class="comment" target="_blank" href="//item.jd.com/18552027499.html#comment">2</a>人评价</strong></div>
                                </div>
                            </li>
                            <li class="gl-item">
                                <div class="gl-i-wrap j-sku-item" data-sku="18552027499" venderid="59619" jdzy_shop_id="55525" data-sku_temp="18552027499" data-i="2" data-soldoversea="-1">
                                    <div class="p-img">
                                        <a target="_blank" href="//item.jd.com/18552027499.html">
                                            <img width="220" height="220" data-img="1" src="//img14.360buyimg.com/n7/jfs/t7468/108/3883096847/155812/e7353806/59ed9787N2d04806f.jpg" title="全国联保，售后无忧！京东物流配送，安全有保障！">
                                        </a>
                                    </div>
                                    <div class="p-name p-name-type3">
                                        <a target="_blank" title="全国联保，售后无忧！京东物流配送，安全有保障！" href="//item.jd.com/18552027499.html">
                                            <em>
                                                三星（SAMSUNG）UA65MU6880JXXZ 65英寸4K超高清HDR 智能曲面电视 黑色      </em>
                                            <i class="promo-words">全国联保，售后无忧！京东物流配送，安全有保障！</i>
                                        </a>
                                        <span class="p-attribute"><a title="65英寸" href="/list.html?cat=737,794,798&amp;ev=244_58269&amp;JL=5_7_0" target="_blank" class="attr"><b>65英寸</b></a><a title="超高清" href="/list.html?cat=737,794,798&amp;ev=3613_78947&amp;JL=5_7_0" target="_blank" class="attr"><b>超高清</b></a><a title="三级能效" href="/list.html?cat=737,794,798&amp;ev=1200_77182&amp;JL=5_7_0" target="_blank" class="attr"><b>三级能效</b></a></span></div>
                                    <div class="p-shop hide" data-score="4" data-reputation="0" data-shopid="" data-done="1"><span><a href="//mall.jd.com/index-55525.html" target="_blank" title="新疆我家电器旗舰店">新疆我家电器旗舰店  </a><em class="im-01" title="联系第三方卖家进行咨询" data-shopid="55525" venderid="59619"></em></span></div>
                                    <div class="p-commit"><strong>已有<a class="comment" target="_blank" href="//item.jd.com/18552027499.html#comment">2</a>人评价</strong></div>
                                </div>
                            </li>
                            <li class="gl-item">
                                <div class="gl-i-wrap j-sku-item" data-sku="18552027499" venderid="59619" jdzy_shop_id="55525" data-sku_temp="18552027499" data-i="2" data-soldoversea="-1">
                                    <div class="p-img">
                                        <a target="_blank" href="//item.jd.com/18552027499.html">
                                            <img width="220" height="220" data-img="1" src="//img14.360buyimg.com/n7/jfs/t7468/108/3883096847/155812/e7353806/59ed9787N2d04806f.jpg" title="全国联保，售后无忧！京东物流配送，安全有保障！">
                                        </a>
                                    </div>
                                    <div class="p-name p-name-type3">
                                        <a target="_blank" title="全国联保，售后无忧！京东物流配送，安全有保障！" href="//item.jd.com/18552027499.html">
                                            <em>
                                                三星（SAMSUNG）UA65MU6880JXXZ 65英寸4K超高清HDR 智能曲面电视 黑色      </em>
                                            <i class="promo-words">全国联保，售后无忧！京东物流配送，安全有保障！</i>
                                        </a>
                                        <span class="p-attribute"><a title="65英寸" href="/list.html?cat=737,794,798&amp;ev=244_58269&amp;JL=5_7_0" target="_blank" class="attr"><b>65英寸</b></a><a title="超高清" href="/list.html?cat=737,794,798&amp;ev=3613_78947&amp;JL=5_7_0" target="_blank" class="attr"><b>超高清</b></a><a title="三级能效" href="/list.html?cat=737,794,798&amp;ev=1200_77182&amp;JL=5_7_0" target="_blank" class="attr"><b>三级能效</b></a></span></div>
                                    <div class="p-shop hide" data-score="4" data-reputation="0" data-shopid="" data-done="1"><span><a href="//mall.jd.com/index-55525.html" target="_blank" title="新疆我家电器旗舰店">新疆我家电器旗舰店  </a><em class="im-01" title="联系第三方卖家进行咨询" data-shopid="55525" venderid="59619"></em></span></div>
                                    <div class="p-commit"><strong>已有<a class="comment" target="_blank" href="//item.jd.com/18552027499.html#comment">2</a>人评价</strong></div>
                                </div>
                            </li>
                            <li class="gl-item">
                                <div class="gl-i-wrap j-sku-item" data-sku="18552027499" venderid="59619" jdzy_shop_id="55525" data-sku_temp="18552027499" data-i="2" data-soldoversea="-1">
                                    <div class="p-img">
                                        <a target="_blank" href="//item.jd.com/18552027499.html">
                                            <img width="220" height="220" data-img="1" src="//img14.360buyimg.com/n7/jfs/t7468/108/3883096847/155812/e7353806/59ed9787N2d04806f.jpg" title="全国联保，售后无忧！京东物流配送，安全有保障！">
                                        </a>
                                    </div>
                                    <div class="p-name p-name-type3">
                                        <a target="_blank" title="全国联保，售后无忧！京东物流配送，安全有保障！" href="//item.jd.com/18552027499.html">
                                            <em>
                                                三星（SAMSUNG）UA65MU6880JXXZ 65英寸4K超高清HDR 智能曲面电视 黑色      </em>
                                            <i class="promo-words">全国联保，售后无忧！京东物流配送，安全有保障！</i>
                                        </a>
                                        <span class="p-attribute"><a title="65英寸" href="/list.html?cat=737,794,798&amp;ev=244_58269&amp;JL=5_7_0" target="_blank" class="attr"><b>65英寸</b></a><a title="超高清" href="/list.html?cat=737,794,798&amp;ev=3613_78947&amp;JL=5_7_0" target="_blank" class="attr"><b>超高清</b></a><a title="三级能效" href="/list.html?cat=737,794,798&amp;ev=1200_77182&amp;JL=5_7_0" target="_blank" class="attr"><b>三级能效</b></a></span></div>
                                    <div class="p-shop hide" data-score="4" data-reputation="0" data-shopid="" data-done="1"><span><a href="//mall.jd.com/index-55525.html" target="_blank" title="新疆我家电器旗舰店">新疆我家电器旗舰店  </a><em class="im-01" title="联系第三方卖家进行咨询" data-shopid="55525" venderid="59619"></em></span></div>
                                    <div class="p-commit"><strong>已有<a class="comment" target="_blank" href="//item.jd.com/18552027499.html#comment">2</a>人评价</strong></div>
                                </div>
                            </li>
                            <li class="gl-item">
                                <div class="gl-i-wrap j-sku-item" data-sku="18552027499" venderid="59619" jdzy_shop_id="55525" data-sku_temp="18552027499" data-i="2" data-soldoversea="-1">
                                    <div class="p-img">
                                        <a target="_blank" href="//item.jd.com/18552027499.html">
                                            <img width="220" height="220" data-img="1" src="//img14.360buyimg.com/n7/jfs/t7468/108/3883096847/155812/e7353806/59ed9787N2d04806f.jpg" title="全国联保，售后无忧！京东物流配送，安全有保障！">
                                        </a>
                                    </div>
                                    <div class="p-name p-name-type3">
                                        <a target="_blank" title="全国联保，售后无忧！京东物流配送，安全有保障！" href="//item.jd.com/18552027499.html">
                                            <em>
                                                三星（SAMSUNG）UA65MU6880JXXZ 65英寸4K超高清HDR 智能曲面电视 黑色      </em>
                                            <i class="promo-words">全国联保，售后无忧！京东物流配送，安全有保障！</i>
                                        </a>
                                        <span class="p-attribute"><a title="65英寸" href="/list.html?cat=737,794,798&amp;ev=244_58269&amp;JL=5_7_0" target="_blank" class="attr"><b>65英寸</b></a><a title="超高清" href="/list.html?cat=737,794,798&amp;ev=3613_78947&amp;JL=5_7_0" target="_blank" class="attr"><b>超高清</b></a><a title="三级能效" href="/list.html?cat=737,794,798&amp;ev=1200_77182&amp;JL=5_7_0" target="_blank" class="attr"><b>三级能效</b></a></span></div>
                                    <div class="p-shop hide" data-score="4" data-reputation="0" data-shopid="" data-done="1"><span><a href="//mall.jd.com/index-55525.html" target="_blank" title="新疆我家电器旗舰店">新疆我家电器旗舰店  </a><em class="im-01" title="联系第三方卖家进行咨询" data-shopid="55525" venderid="59619"></em></span></div>
                                    <div class="p-commit"><strong>已有<a class="comment" target="_blank" href="//item.jd.com/18552027499.html#comment">2</a>人评价</strong></div>
                                </div>
                            </li>
                            <li class="gl-item">
                                <div class="gl-i-wrap j-sku-item" data-sku="18552027499" venderid="59619" jdzy_shop_id="55525" data-sku_temp="18552027499" data-i="2" data-soldoversea="-1">
                                    <div class="p-img">
                                        <a target="_blank" href="//item.jd.com/18552027499.html">
                                            <img width="220" height="220" data-img="1" src="//img14.360buyimg.com/n7/jfs/t7468/108/3883096847/155812/e7353806/59ed9787N2d04806f.jpg" title="全国联保，售后无忧！京东物流配送，安全有保障！">
                                        </a>
                                    </div>
                                    <div class="p-name p-name-type3">
                                        <a target="_blank" title="全国联保，售后无忧！京东物流配送，安全有保障！" href="//item.jd.com/18552027499.html">
                                            <em>
                                                三星（SAMSUNG）UA65MU6880JXXZ 65英寸4K超高清HDR 智能曲面电视 黑色      </em>
                                            <i class="promo-words">全国联保，售后无忧！京东物流配送，安全有保障！</i>
                                        </a>
                                        <span class="p-attribute"><a title="65英寸" href="/list.html?cat=737,794,798&amp;ev=244_58269&amp;JL=5_7_0" target="_blank" class="attr"><b>65英寸</b></a><a title="超高清" href="/list.html?cat=737,794,798&amp;ev=3613_78947&amp;JL=5_7_0" target="_blank" class="attr"><b>超高清</b></a><a title="三级能效" href="/list.html?cat=737,794,798&amp;ev=1200_77182&amp;JL=5_7_0" target="_blank" class="attr"><b>三级能效</b></a></span></div>
                                    <div class="p-shop hide" data-score="4" data-reputation="0" data-shopid="" data-done="1"><span><a href="//mall.jd.com/index-55525.html" target="_blank" title="新疆我家电器旗舰店">新疆我家电器旗舰店  </a><em class="im-01" title="联系第三方卖家进行咨询" data-shopid="55525" venderid="59619"></em></span></div>
                                    <div class="p-commit"><strong>已有<a class="comment" target="_blank" href="//item.jd.com/18552027499.html#comment">2</a>人评价</strong></div>
                                </div>
                            </li>
                            <li class="gl-item">
                                <div class="gl-i-wrap j-sku-item" data-sku="18552027499" venderid="59619" jdzy_shop_id="55525" data-sku_temp="18552027499" data-i="2" data-soldoversea="-1">
                                    <div class="p-img">
                                        <a target="_blank" href="//item.jd.com/18552027499.html">
                                            <img width="220" height="220" data-img="1" src="//img14.360buyimg.com/n7/jfs/t7468/108/3883096847/155812/e7353806/59ed9787N2d04806f.jpg" title="全国联保，售后无忧！京东物流配送，安全有保障！">
                                        </a>
                                    </div>
                                    <div class="p-name p-name-type3">
                                        <a target="_blank" title="全国联保，售后无忧！京东物流配送，安全有保障！" href="//item.jd.com/18552027499.html">
                                            <em>
                                                三星（SAMSUNG）UA65MU6880JXXZ 65英寸4K超高清HDR 智能曲面电视 黑色      </em>
                                            <i class="promo-words">全国联保，售后无忧！京东物流配送，安全有保障！</i>
                                        </a>
                                        <span class="p-attribute"><a title="65英寸" href="/list.html?cat=737,794,798&amp;ev=244_58269&amp;JL=5_7_0" target="_blank" class="attr"><b>65英寸</b></a><a title="超高清" href="/list.html?cat=737,794,798&amp;ev=3613_78947&amp;JL=5_7_0" target="_blank" class="attr"><b>超高清</b></a><a title="三级能效" href="/list.html?cat=737,794,798&amp;ev=1200_77182&amp;JL=5_7_0" target="_blank" class="attr"><b>三级能效</b></a></span></div>
                                    <div class="p-shop hide" data-score="4" data-reputation="0" data-shopid="" data-done="1"><span><a href="//mall.jd.com/index-55525.html" target="_blank" title="新疆我家电器旗舰店">新疆我家电器旗舰店  </a><em class="im-01" title="联系第三方卖家进行咨询" data-shopid="55525" venderid="59619"></em></span></div>
                                    <div class="p-commit"><strong>已有<a class="comment" target="_blank" href="//item.jd.com/18552027499.html#comment">2</a>人评价</strong></div>
                                </div>
                            </li>
                            <li class="gl-item">
                                <div class="gl-i-wrap j-sku-item" data-sku="18552027499" venderid="59619" jdzy_shop_id="55525" data-sku_temp="18552027499" data-i="2" data-soldoversea="-1">
                                    <div class="p-img">
                                        <a target="_blank" href="//item.jd.com/18552027499.html">
                                            <img width="220" height="220" data-img="1" src="//img14.360buyimg.com/n7/jfs/t7468/108/3883096847/155812/e7353806/59ed9787N2d04806f.jpg" title="全国联保，售后无忧！京东物流配送，安全有保障！">
                                        </a>
                                    </div>
                                    <div class="p-name p-name-type3">
                                        <a target="_blank" title="全国联保，售后无忧！京东物流配送，安全有保障！" href="//item.jd.com/18552027499.html">
                                            <em>
                                                三星（SAMSUNG）UA65MU6880JXXZ 65英寸4K超高清HDR 智能曲面电视 黑色      </em>
                                            <i class="promo-words">全国联保，售后无忧！京东物流配送，安全有保障！</i>
                                        </a>
                                        <span class="p-attribute"><a title="65英寸" href="/list.html?cat=737,794,798&amp;ev=244_58269&amp;JL=5_7_0" target="_blank" class="attr"><b>65英寸</b></a><a title="超高清" href="/list.html?cat=737,794,798&amp;ev=3613_78947&amp;JL=5_7_0" target="_blank" class="attr"><b>超高清</b></a><a title="三级能效" href="/list.html?cat=737,794,798&amp;ev=1200_77182&amp;JL=5_7_0" target="_blank" class="attr"><b>三级能效</b></a></span></div>
                                    <div class="p-shop hide" data-score="4" data-reputation="0" data-shopid="" data-done="1"><span><a href="//mall.jd.com/index-55525.html" target="_blank" title="新疆我家电器旗舰店">新疆我家电器旗舰店  </a><em class="im-01" title="联系第三方卖家进行咨询" data-shopid="55525" venderid="59619"></em></span></div>
                                    <div class="p-commit"><strong>已有<a class="comment" target="_blank" href="//item.jd.com/18552027499.html#comment">2</a>人评价</strong></div>
                                </div>
                            </li>
                        </ul>
                        <div class="clr"></div>
                    </div>
                    <div class="page clearfix">
                        <div class="p-wrap" id="J_bottomPage">
            <span class="p-num">
                                    <a class="pn-prev"
                                       href="/list.html?cat=737,794,798&amp;ev=4155%5F78904&amp;page=1&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=6_0_0"><i>&lt;</i><em>上一页</em></a>
                                <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904&amp;page=1&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=6_0_0"
                                   class="">1</a>
                <b class="pn-break hide"> …</b>
                <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904&amp;page=-1&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=6_0_0"
                   class="hide ">-1</a>
                <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904&amp;page=0&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=6_0_0"
                   class="hide ">0</a>
                <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904&amp;page=1&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=6_0_0"
                   class="hide ">1</a>
                <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904&amp;page=2&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=6_0_0"
                   class=" curr">2</a>
                <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904&amp;page=3&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=6_0_0"
                   class=" ">3</a>
                <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904&amp;page=4&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=6_0_0"
                   class=" ">4</a>
                <b class="pn-break "> …</b>
                <a href="/list.html?cat=737,794,798&amp;ev=4155%5F78904&amp;page=11&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=6_0_0"
                   class="">11</a>
                                    <a class="pn-next"
                                       href="/list.html?cat=737,794,798&amp;ev=4155%5F78904&amp;page=3&amp;sort=sort%5Frank%5Fasc&amp;trans=1&amp;JL=6_0_0">下一页<i>&gt;</i></a>
                            </span>
                            <span class="p-skip">
                <em>共<b>11</b>页&nbsp;&nbsp;到第</em>
                <input class="input-txt" id="page_jump_num" maxlength="4" value="2"
                       onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"
                       onkeydown="javascript:if(event.keyCode==13){page_jump();return false;}">
                <em>页</em>
                <a class="btn btn-default" href="javascript:page_jump();">确定</a>
            </span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="m-aside">
                <div class="aside-bar">
                    <div class="ab-goods u-ad-wrap" id="J_spread_goods" style="display: block;">
                        <span class="u-ad"></span>
                        <div class="mt">
                            <h3>商品精选</h3>
                        </div>
                        <div class="mc">
                            <ul data="type=&quot;47&quot;" class="clearfix">
                                <li sku_c="1454910">
                                    <div class="p-img">
                                        <a href="//item.jd.com/1454910.html"
                                           title="创维（Skyworth）32X3 32英寸 窄边蓝光高清节能平板液晶电视（黑色）" target="_blank">
                                            <img width="190" height="190"
                                                 src="//img13.360buyimg.com/cms/s190x190_jfs/t6736/103/133526460/262304/cff8bd0a/593a2ce2Nb6558b94.jpg"
                                                 alt="创维（Skyworth）32X3 32英寸 窄边蓝光高清节能平板液晶电视（黑色）">
                                        </a>
                                    </div>
                                    <div class="p-price">
                                        <strong>￥1099.00</strong>
                                    </div>
                                    <div class="p-name">
                                        <a href="//item.jd.com/1454910.html"
                                           title="创维（Skyworth）32X3 32英寸 窄边蓝光高清节能平板液晶电视（黑色）" target="_blank">创维（Skyworth）32X3
                                            32英寸 窄边蓝光高清节能平板液晶电视（黑色）
                                        </a>
                                    </div>
                                </li>
                                <li sku_c="1454910">
                                    <div class="p-img">
                                        <a href="//item.jd.com/1454910.html"
                                           title="创维（Skyworth）32X3 32英寸 窄边蓝光高清节能平板液晶电视（黑色）" target="_blank">
                                            <img width="190" height="190"
                                                 src="//img13.360buyimg.com/cms/s190x190_jfs/t6736/103/133526460/262304/cff8bd0a/593a2ce2Nb6558b94.jpg"
                                                 alt="创维（Skyworth）32X3 32英寸 窄边蓝光高清节能平板液晶电视（黑色）">
                                        </a>
                                    </div>
                                    <div class="p-price">
                                        <strong>￥1099.00</strong>
                                    </div>
                                    <div class="p-name">
                                        <a href="//item.jd.com/1454910.html"
                                           title="创维（Skyworth）32X3 32英寸 窄边蓝光高清节能平板液晶电视（黑色）" target="_blank">创维（Skyworth）32X3
                                            32英寸 窄边蓝光高清节能平板液晶电视（黑色）
                                        </a>
                                    </div>
                                </li>
                                <li sku_c="1454910">
                                    <div class="p-img">
                                        <a href="//item.jd.com/1454910.html"
                                           title="创维（Skyworth）32X3 32英寸 窄边蓝光高清节能平板液晶电视（黑色）" target="_blank">
                                            <img width="190" height="190"
                                                 src="//img13.360buyimg.com/cms/s190x190_jfs/t6736/103/133526460/262304/cff8bd0a/593a2ce2Nb6558b94.jpg"
                                                 alt="创维（Skyworth）32X3 32英寸 窄边蓝光高清节能平板液晶电视（黑色）">
                                        </a>
                                    </div>
                                    <div class="p-price">
                                        <strong>￥1099.00</strong>
                                    </div>
                                    <div class="p-name">
                                        <a href="//item.jd.com/1454910.html"
                                           title="创维（Skyworth）32X3 32英寸 窄边蓝光高清节能平板液晶电视（黑色）" target="_blank">创维（Skyworth）32X3
                                            32英寸 窄边蓝光高清节能平板液晶电视（黑色）
                                        </a>
                                    </div>
                                </li>
                                <li sku_c="1454910">
                                    <div class="p-img">
                                        <a href="//item.jd.com/1454910.html"
                                           title="创维（Skyworth）32X3 32英寸 窄边蓝光高清节能平板液晶电视（黑色）" target="_blank">
                                            <img width="190" height="190"
                                                 src="//img13.360buyimg.com/cms/s190x190_jfs/t6736/103/133526460/262304/cff8bd0a/593a2ce2Nb6558b94.jpg"
                                                 alt="创维（Skyworth）32X3 32英寸 窄边蓝光高清节能平板液晶电视（黑色）">
                                        </a>
                                    </div>
                                    <div class="p-price">
                                        <strong>￥1099.00</strong>
                                    </div>
                                    <div class="p-name">
                                        <a href="//item.jd.com/1454910.html"
                                           title="创维（Skyworth）32X3 32英寸 窄边蓝光高清节能平板液晶电视（黑色）" target="_blank">创维（Skyworth）32X3
                                            32英寸 窄边蓝光高清节能平板液晶电视（黑色）
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ab-goods" id="alsobuy"></div>
                    <div class="promo-pic-adbox u-ad-wrap" style="display: none;">
                        <span class="u-ad"></span>
                        <h5 class="hd">商家精选</h5>
                        <div class="bd" id="J_promWrap_60"></div>
                        <div id="J_promWrap_547"></div>
                    </div>
                    <div class="ab-pic" id="J_promWrap_1"></div>
                    <div class="ab-pic" id="da211x261-1"></div>
                    <div class="ab-fa-img" id="J-book-fa-ad"></div>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <span class="clr"></span>
    <div class="Tip360 w260" id="Collect_Tip"></div>
</div>


<script type="application/javascript">
    $(".category-third .dt a").hover(function () {
        $(".dd-inner").addClass("hover");
    }, function () {
        $(".dd-inner").removeClass("hover");
    });
    $(".category-third .dd-inner").hover(function () {
        $(".dd-inner").addClass("hover");
    }, function () {
        $(".dd-inner").removeClass("hover");
    });
    $(".gl-warp .gl-item").hover(function () {
        $(this).addClass("hover");
    }, function () {
        $(this).removeClass("hover");
    });

</script>
