<!--轮播图上方导航栏  一栏-->
<div id="navv">
    <div class="nav-img" style="background:url({{'static/images/568a1258N2edec1ab.jpg'|base_url}}) repeat-x"></div>
</div>
<div class="focus">
    <div class="focus-a">
        <div class="fouc-img1"><img src="{{'static/images/5689d4ebN19f155a6.jpg'|base_url}}" class="nav-img2"></div>
        <div class="fouc-font"><a href="">全部商品分类</a></div>
    </div>
    <div class="focus-btn">
        <ul>
            <a href="{{'passport/login'|base_url}}">
                <button class="button">进口展</button>
            </a>
            <a href="##">
                <button class="button">国产馆</button>
            </a>
        </ul>
    </div>
    <div class="focus-b">

        <i class="iconfont" style="color: red">&#xe84a;</i>
        <div>
            <i class="iconfont right-up">&#xe6c0;</i>
            <a href="#">服装城</a>
        </div>
        <div>
            <i class="iconfont right-up">&#xe6c0;</i>
            <a href="#">服装城</a>
        </div>
        <div>
            <i class="iconfont right-up">&#xe6c0;</i>
            <a href="#">服装城</a>
        </div>
        <div>
            <i class="iconfont right-up">&#xe6c0;</i>
            <a href="#">服装城</a>
        </div>
        <a class="edit-favo">编辑</a>
    </div>
    <!--轮播图左边当行蓝-->
    <div class="bb"></div>
    <div class="dd-inner">
        {{include file = "dashboard/category_list.html"}}
    </div>
    <!------------------------------------轮播图------------------------------------>
    <div id="lunbo">
        {{include file = "dashboard/lunbo.html"}}
    </div>
    <div class="right-brand">
        <div class="hs-brands">
            <div class="brands-left">
                <ul>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56c6e9f8N4dbb9d82.jpg'|base_url}}"></a>
                    </li>
                    <li>
                        <a class="item">
                            <img src="{{'static/images/56cfc8ecN4e1be163.jpg'|base_url}}"></a>
                    </li>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56cad6bbNfb26d292.jpg'|base_url}}">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56cad7d2N1874563f.jpg'|base_url}}">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56c6e6d1N5ca75add.jpg'|base_url}}">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56cad981N823d9db6.jpg'|base_url}}">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56cad9bfN2f47ae16.jpg'|base_url}}">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56cad9bfN2f47ae16.jpg'|base_url}}">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="brands-right">
                <ul>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56c6e93aNbe80cb1b.jpg'|base_url}}">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56cad85aNcbcc9dd3.jpg'|base_url}}">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56cada49N382d2e2c.jpg'|base_url}}"></a>
                    </li>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56c6e872Nb185d562.jpg'|base_url}}">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56c6e7eeN5b058659.jpg'|base_url}}">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56c6ea8aN2c6a427d.jpg'|base_url}}">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56cad903N7a43faa0.jpg'|base_url}}">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56cad9bfN2f47ae16.jpg'|base_url}}">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="brands-right">
                <ul>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56c6e93aNbe80cb1b.jpg'|base_url}}">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56cad85aNcbcc9dd3.jpg'|base_url}}">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56cada49N382d2e2c.jpg'|base_url}}"></a>
                    </li>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56c6e872Nb185d562.jpg'|base_url}}">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56c6e7eeN5b058659.jpg'|base_url}}">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56c6ea8aN2c6a427d.jpg'|base_url}}">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56cad903N7a43faa0.jpg'|base_url}}">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item"><img src="{{'static/images/56cad9bfN2f47ae16.jpg'|base_url}}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>