<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href="{{'static/css/index.css'|base_url}}?v=3" type="text/css" rel="stylesheet">
    <link href="{{'static/css/iconfont.css'|base_url}}?v=3" type="text/css" rel="stylesheet">
    <link href="{{'static/layer/css/layui.css'|base_url}}?v=3" type="text/css" rel="stylesheet">
    <script src="{{'static/js/jquery-1.11.3.min.js'|base_url}}"></script>
    <script src="{{'static/layer/layui.all.js'|base_url}}"></script>
</head>
<body id="top">
<div class="jdm-toolbar-wrap J-wrap">
    <div class="jdm-toolbar J-toolbar">
        <div class="jdm-toolbar-panels J-panel">
        </div>
        <div class="jdm-toolbar-footer">
            <div data-type="link" id="#top" class="J-trigger jdm-toolbar-tab jdm-tbar-tab-top">
                <a href="#" clstag="h|keycount|cebianlan_h|top">
                    <i class="tab-ico"></i> <em class="tab-text">顶部</em>
                </a>
            </div>
        </div>
        <div class="jdm-toolbar-mini">
        </div>
    </div>
    <div id="J-toolbar-load-hook" clstag="h|keycount|cebianlan_h|load"></div>
</div>
<!-----------------------------------------顶部-------------->
<header id="header">
    <div class="header-box">
        <ul class="header-right">
            {{if $smarty.session.person_user}}
            <li class="my bj">亲爱的会员,{{$smarty.session.person_user}}
                <i class="ci-right ">
                    <s class="jt">◇</s>
                </i>
                <div class="my1">
                    <div class="my2">
                        <img src="{{'static/images/no-img_mid_.jpg'|base_url}}">
                        <div class="my3">
                            <h3 class="neirong2"><a href="{{'passport/user_logout'|base_url}}">退出</a></h3>
                        </div>
                    </div>
                </div>
            </li>
            {{else}}
            <li class="denglu"><a href="{{'passport/login'|base_url}}">您好,请登录</a></li>
            {{/if}}
            <li class="denglu"><a href="#">我的订单</a></li>
            <li class="shu"></li>
            <li class="my bj">
                <a href="#">我的京东</a>
                <i class="ci-right ">
                    <s class="jt">◇</s>
                </i>
                <div class="my1">
                    <div class="my2">
                        <img src="{{'static/images/no-img_mid_.jpg'|base_url}}">
                        <div class="my3">
                            <h3 class="neirong2"><a href="">您好请登录</a></h3>
                            <p class="neirong2"><a href="">优惠卷 丨 消息</a></p>
                        </div>
                    </div>
                    <ul class="neirong2">
                        <li><a href="">带处理订单</a></li>
                        <li><a href="">京我的订单</a></li>
                        <li><a href="">京咨询回复</a></li>
                        <li><a href="">京我的京豆</a></li>
                        <li><a href="">京降价商品</a></li>
                        <li><a href="">京我的理财</a></li>
                        <li><a href="">京返修退换货</a></li>
                        <li><a href="">京东白条</a></li>
                    </ul>
                </div>
            </li>
            <li class="shu"></li>
            <li class="denglu"><a href="#">企业采购</a></li>
            <li class="shu"></li>
        </ul>
    </div>
</header>
<!--<div id="top-banner">-->
    <!--<div class="top-ba">-->
        <!--<a href=""><img src="{{'static/images/js.jpg'|base_url}}"></a>-->
        <!--<div id="xx"><a href="">X</a></div>-->
    <!--</div>-->
<!--</div>-->
<div class="w">
    <div class="logo"><a href=""><img src="{{'static/images/logo.png'|base_url}}"></a></div>
    <div class="search">
        <input type="text" value="家电一折抢" class="text" id="textt">
        <button class="button">搜索</button>
    </div>
    <div class="btn-reg">
        <a class="button" href="{{'passport/register'|base_url}}"><button class="text-login"><i class="iconfont">&#xe697;</i>&nbsp;注册</button></a>
    </div>
    <div class="btn-login">
        <a class="button" href="{{'passport/login'|base_url}}"><button class="text-login"><i class="iconfont">&#xe64f;</i>&nbsp;登录</button></a>
    </div>
    <div class="hotwords">
        <a href="#" class="red">1元秒杀</a>
        <a href="#">低至1折</a>
        <a href="#">1元抢</a>
        <a href="#">时尚鞋靴</a>
        <a href="#">买一送二</a>
        <a href="#">乐视乐1</a>
        <a href="#">特步女鞋</a>
        <a href="#">威士忌</a>
    </div>
</div>

<div class="clear"></div>
{{include $__PAGE__}}
</body>
<script src="{{'static/js/index.js'|base_url}}"></script>
<script type="application/javascript">
    $(function () {
        $(".edit-favo").on("click", function () {
            $(".right-up").toggle();
        })
    })
</script>
</html>