<ul id="one">
    <li><a href=""><img src="{{'static/images/5690b6dcNd5aaa0f0.jpg'|base_url}}"></a></li>
    <li><a href=""><img src="{{'static/images/56960e10N27e2d29f.jpg'|base_url}}"></a></li>
    <li><a href=""><img src="{{'static/images/5698a5aaN08e09475.jpg'|base_url}}"></a></li>
    <li><a href=""><img src="{{'static/images/56a05078N6add136b.jpg'|base_url}}"></a></li>
    <li><a href=""><img src="{{'static/images/56a09e6aN373313d9.jpg'|base_url}}"></a></li>
</ul>
<ul id="two">
    <li class="on">1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
</ul>
<!------------------------------------轮播图左右箭头------------------------>
<div class="slider-page">
    <a href="javascript:void(0)" id="left"><</a>
    <a href="javascript:void(0)" id="right">></a>
</div>
