<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="ibox">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>商品展示</h5>
                        <div class="ibox-tools">
                            <a data-toggle="modal" class="btn btn-primary btn-xs add-btn" href="#modal-form">添加商品</a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="project-list">

                            <table class="table table-hover">
                                <thead>
                                <th>编号</th>
                                <th>商品名称</th>
                                <th>品牌名称</th>
                                <th>商品分类</th>
                                <th>创建时间及操作人</th>
                                <th>操作</th>
                                </thead>
                                <tbody>
                                {{foreach $goods_list as $goods_info}}
                                <tr>
                                    <td class="id">{{$goods_info.id}}</td>
                                    <td class="product">{{$goods_info.product}}</td>
                                    <td class="brand">{{$goods_info.brand}}</td>
                                    <td class="category">{{$goods_info.category}}</td>
                                    <td class="">
                                        <small>{{$goods_info.create_time|date_format:"%Y-%m-%d %H:%m:%S"}} by
                                            {{$goods_info.operater}}
                                        </small>
                                    </td>
                                    <td>
                                        <a href="#edit_goods" data-toggle="modal" class="btn btn-white btn-sm edit-btn"><i
                                                class="fa fa-pencil"></i>
                                            编辑
                                        </a>
                                        <a href="javascript:void(0)" class="btn btn-danger btn-sm delete-btn"><i
                                                class="fa fa-close"></i>
                                            删除
                                        </a>
                                    </td>
                                </tr>
                                {{/foreach}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-form" class="modal fade " aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">添加品牌</h3>
                        <form role="form" class="add_goods form-horizontal" onsubmit="return false;">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">商品名称：</label>

                                <div class="col-sm-7">
                                    <input type="text" name="product" placeholder="请输入商品名称" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">品牌：</label>
                                <div class="col-sm-7">
                                    <select class="form-control" name="brand">
                                        <option>请选择商品是公司旗下何种品牌</option>
                                        {{foreach $brandlist as $brand}}
                                        <option value="{{$brand.id}}">{{$brand.brand}}</option>
                                        {{/foreach}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">商品类目：</label>
                                <div class="col-sm-3">
                                    <select class="form-control first" name="">
                                        <option>请选择商品一级分类</option>
                                        {{foreach $first_level as $first_item}}
                                        <option value="{{$first_item.id}}">{{$first_item.name}}</option>
                                        {{/foreach}}
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control second" name="" style="display: none">
                                        <option>请选择商品二级分类</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control third" name="category" style="display: none">
                                        <option>请选择商品三级分类</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 col-sm-offset-3">
                                    <button class="btn btn-primary add-submit-btn" type="submit">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="edit_goods" class="modal fade" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">修改商品类目</h3>
                        <form role="form" class="edit_goods" onsubmit="return false;">
                            <div class="form-group">
                                <label>类目名称：</label>
                                <input type="text" name="name" placeholder="请输入类目名称"
                                       class="form-control">
                            </div>
                            <div class="form-group" style="display: none">
                                <label>类目编号：</label>
                                <input type="text" name="id" placeholder="请输入类目级别" class="form-control">
                            </div>
                            <div>
                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" id="edit-submit"
                                        type="submit">
                                    <strong>提交</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    var url = "<script type='application/javascript' src=\"{{'file/category.js'|base_url}}?v=" + Math.random() + '\"><\/script>';
    document.write(url);
</script>
<script>
    $(document).ready(function () {
        $(".add-btn").on("click", function () {
            $("#add_goods").find("input[name='name']").focus();
        });
        $(".edit-btn").on("click", function () {
            var id = $(this).parents("tr").find(".cate-id").text();
            var name = $(this).parents("tr").find(".cate-name").text();
            $("#edit_goods").find("input[name='name']").val(name);
            $("#edit_goods").find("input[name='id']").val(id);
        });
        $(".first").on("change", function () {
            $(".second").show();
            var parent = $(".first").val();
            $.post("{{'goods/get_level_list'|base_url}}", {level: 2, parent: parent}, function (result) {
                if (result.ecode == 0) {
                    var html = "<option>请选择商品二级分类</option>";
                    var res = result.result;
                    for (var i = 0; i < res.length; i++) {
                        html += "<option value='" + res[i].id + "'>" + res[i].name + "</option>";
                    }
                    $(".second").html(html);
                }
                else {
                    layer.msg(result.emsg);
                }

            })
        });
        $(".second").on("change", function () {
            $(".second").show();
            var parent = $(".second").val();
            $.post("{{'goods/get_level_list'|base_url}}", {level: 3, parent: parent}, function (result) {
                if (result.ecode == 0) {
                    var html = "<option>请选择商品三级分类</option>";
                    var res = result.result;
                    for (var i = 0; i < res.length; i++) {
                        html += "<option value='" + res[i].id + "'>" + res[i].name + "</option>";
                    }
                    $(".third").html(html);
                }
                else {
                    layer.msg(result.emsg);
                }

            })
        });
        $(".second").on("change", function () {
            $(".third").show();
        });
        $(".delete-btn").on("click", function () {
            var id = $(this).parents("tr").find(".cate-id").text();
            layer.confirm('是否要删除当前类目及其下属类目？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                $.post("{{'goods/delete_level'|base_url}}", {id: id}, function (res) {
                    if (res.ecode == 0) {
                        layer.msg(res.result);
                        setTimeout(function () {
                            window.location.reload();
                        }, 500)
                    }
                    else {
                        layer.msg(res.emsg);
                    }
                })
            }, function () {
            });
        });
        $("#edit-submit").on("click", function () {
            $.post("{{'goods/edit_goods'|base_url}}", $(".edit_goods").serialize(), function (res) {
                if (res.ecode == 0) {
                    layer.msg(res.result);
                    setTimeout(function () {
                        window.location.reload();
                    }, 500)
                }
                else {
                    layer.msg(res.emsg);
                }
            });
        });
        $(".add-submit-btn").on("click", function () {
            $.post("{{'goods/add_goods'|base_url}}", $(".add_goods").serialize(), function (res) {
                if (res.ecode == 0) {
                    layer.msg(res.result);
                    setTimeout(function () {
                        window.location.reload();
                    }, 500)
                }
                else {
                    layer.msg(res.emsg);
                }
            });
        });
    });
</script>